<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658847293429-sl27t5lj2ds0ckh77suu6dkrms54ter3.apps.googleusercontent.com</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>658847293429-cb5mrrgpomhak1154rdjbb1h4vf61p9h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCujZxWQyGiUXdkXOXLBohPJsBfGLg4SG0</string>
	<key>GCM_SENDER_ID</key>
	<string>658847293429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.instiy</string>
	<key>PROJECT_ID</key>
	<string>instiy-f0295</string>
	<key>STORAGE_BUCKET</key>
	<string>instiy-f0295.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658847293429:ios:1e1ea49b2f78920d78cabc</string>
</dict>
</plist>